
#nav-container{
  /*background-color: #fcfcfc;*/
  /*background-color: pink;*/
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr 0.5fr;
  grid-template-rows: 1fr;
  grid-template-areas:
    "navlogo . loginbutton signupbutton"
;
  grid-gap: 1rem;
  padding-right: 14vw;
  padding-left: 14vw;
  padding-top: 3vh;
  margin-bottom: 1vh;

}


@media only screen and (max-width:1300px){
  #nav-container {
    padding-right: 0.5vw;
    padding-left:1vw;
  }
}

#navlogo {
  /*background-color: green;*/
  font-family:'DM Serif Display', serif;
  grid-area: navlogo;
  font-weight: 600;
  font-size : 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginbutton {
  /*background-color: pink;*/
  grid-area : loginbutton;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;

}

#signupbutton {
  /*background-color: pink;*/
  grid-area : signupbutton;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 10px;

}

.buttonStart {
  align-items: center;
  background-color: #32302f;
  border: 0;
  border-radius: 100px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family: -apple-system, system-ui, system-ui, "Segoe UI", Roboto, "Helvetica Neue", "Fira Sans", Ubuntu, Oxygen, "Oxygen Sans", Cantarell, "Droid Sans", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Lucida Grande", Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  justify-content: center;
  line-height: 20px;
  max-width: 480px;
  min-height: 40px;
  min-width: 0;
  overflow: hidden;
  text-align: center;
  touch-action: manipulation;
  transition: background-color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, box-shadow 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s, color 0.167s cubic-bezier(0.4, 0, 0.2, 1) 0s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  padding: 15px 25px;
}

button:hover, button:focus {
  opacity: .75;
}

a {
  text-decoration: none;
}
a:visited {
  color: black;
}

