
<div id = delete-container>


  <div id = delete-title> Delete Transaction
    <div class = error *ngIf = "errormessage">
      <div>  {{errormessage}} </div>
    </div>
  </div>



<form id = form-container    [formGroup] = "deleteForm" (ngSubmit)="submitDelete()">
<mat-form-field appearance="fill">
  <mat-label>Select</mat-label>
  <mat-select  type = "number" formControlName = "id" required>
    <mat-option *ngFor="let id of transactionLabels;" value={{id}}>{{id}}</mat-option>

  </mat-select>
</mat-form-field>

  <div id = submitDelete><button [disabled]="deleteForm.invalid" type= "submit"> Submit </button></div>
</form>





    <div id= ifTransaction *ngIf="transaction" >

      <div>
    <div class = infoLine>Id : {{transaction.transactionId}}</div>
      <div class = infoLine>Type : {{transaction.transactionType}}</div>
      <div class = infoLine>Stock : {{transaction.transactionName}}</div>
      <div class = infoLine>Price per share : {{transaction.transactionPrice}}</div>
      <div class = infoLine>Number of shares : {{transaction.transactionNumber}}</div>
      <div class = infoLine>Date : {{transaction.transactionDate}}</div>
  </div>
      <button (click) = "onConfirmDelete()">Delete</button>


    </div>
</div>
