<div id = profile-container>

  <div id = top-container>
    <div id= top-title >My Portfolio</div>
    <div id = validate-date>Valuation date as for&nbsp; <span style="color:black"> {{formatTodayDate}}</span></div>


    <div id = porfolio-value class=porfolio-bloc> <div class = porfolio-title>Porfolio Value</div><div class=porfolio-number>${{porfolioValueNow}}</div>    </div>
    <div id = total-invested class=porfolio-bloc> <div class = porfolio-title>Total Invested</div><div class=porfolio-number>${{totalInvested}}</div></div>
    <div id = net-profit class=porfolio-bloc><div class = porfolio-title>Net Profit</div><div class=porfolio-number>${{netProfit}}</div></div>

    <div id = chart>
   <app-chart></app-chart>

    </div>

    </div>



  <div id = bottom-container>

    <div id = bottom-title>Transactions</div>
    <div id = transaction-table>
      <cdk-virtual-scroll-viewport itemSize="5" class="example-viewport">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

        <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef> Id </th>
          <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="share">
          <th mat-header-cell *matHeaderCellDef> Share </th>
          <td mat-cell *matCellDef="let element"> {{element.share}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="type">
          <th mat-header-cell *matHeaderCellDef> Type </th>
          <td mat-cell *matCellDef="let element"> {{element.type}} </td>
        </ng-container>

        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef> Date </th>
          <td mat-cell *matCellDef="let element"> {{element.date}} </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      </cdk-virtual-scroll-viewport>
    </div>
  </div>
  <div id = side-container>

    <div><a routerLink="add"> <button id = add-button class = crud-button> Add stock</button></a></div>
      <div><a routerLink="sell"><button id = sell-button class = crud-button> Sell stock</button></a></div>
        <div><a routerLink="delete"><button id = delete-button class = crud-button>Delete transactions</button></a></div>
          <div><a routerLink="edit"><button id = edit-button class = crud-button>Edit transactions</button></a></div>
    <button id = export-button class = crud-button> Export CVS</button>


  </div>

</div>
